ul{
  padding: 0;
}

.steps {
  display: flex;
  align-items: center;
}

.input_steps {
  height: 30px;
  border: 2px solid black;
  border-radius: 5px;
}

.button_steps {
  background-color: white;
  margin-left: 10px;
  width: 50px;
  height: 30px;
  border: 2px solid black;
  border-radius: 10%;
  align-self: end;
  cursor: pointer;
}

.field_steps {
  margin: 10px 10px 0;
}

.steps_data {
  border: 2px solid black;
  border-radius: 5px;
  width: 400px;
  margin-left: 10px;
}

.training_item {
  display: flex;
  justify-content: space-around;
}

.training_settings {
  display: flex;
}
